<!DOCTYPE html>
<html lang="en">
<head>
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />">
    <link rel="stylesheet" href="/stylesheet/c3.css">
     <script src="https://www.google.com/recaptcha/api.js?render=6LdsNSggAAAAAJDroJKLwZT9xeRPo2snaPEs-cK-" async defer></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0KNNY356D7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0KNNY356D7');
</script>
</head>
<body>
    <div class="contenedor">
        <div class="izquierdo" >
           
           <div class="perfil">
            <div class="img">
                 <img src ="/stylesheet/IMG_0213.JPG"  alt="esta imagen no se puede procesar">
            </div>
            <h2>Jesus Ziegler</h2>
        </div>
        <div class="Datos">
            <h3 class="title">Datos Personales</h3>
            <ul>
                <li>
                    <b>Lugar de Nacimiento:</b>San Juan de los Morros 
                </li>
                <li>
                     <b>Direccion:</b>Sector Las Palmas. Via San Sebastian de los Reyes
                </li>
                <li>
                    <b>Calle:</b> 23
                </li>
                <li>
                    <b>Casa:</b>Nro. 53. Casa San Miguel<br>
                </li>
                <li>   
                    <b>C.I.</b>29.941.366</p>
                </li>
            </ul>
        </div><br>

        <div class="info">
            <h3 class="title">contacto</h3>
            <ul>
                <li>
                    <span class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
                    <span class="text">+58 412-244-6504</span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    <span class="text">jmzm08@gmail.com</span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span class="text">San Juan de los Morros,Guarico,Venezuela</span>
                </li>
                
            </ul>
        </div>
        <div class="Educacion">
            <h3 class="title">Formacion Academica</h3>
            <ul>
                <li>
                  <h5>2015-2020 | San Juan de los Morros- Venezuela</h5> 
                  <h4>Bachillerato</h4>
                  <h4>U.E.C. "Dr.Jose Francisco Torrealba"</h4><br>
                </li>
                <li>
                    <h5> 2020-En Curso | San Juan de los Morros- Venezuela</h5> 
                    <h4>Ing. Informatica </h4>
                    <h4>U.N.E "Romulo Gallegos"</h4>
                  </li>
                
            </ul>
        </div>
    </div>
    <div class="derecho" >
        <div class="Eventos">
            <h2 class="title2">Eventos</h2>
            <ul>
                <li>
                  <h4>“Concurso de dibujo manga 2010”</h4> 
                  <h3>Guárico, San Juan de lós Morros.</h3>
                
                </li>
                <li>
                    <h4>“Olimpiadas de ajedrez 2012”.</h4> 
                    <h3>Guárico, San Juan de lós Morros.</h3>
                </li>
                <li>
                  <h4>“Concurso de artes y manualidades 2013”</h4> 
                  <h3>Guárico, San Juan de lós Morros.</h3>
                </li>
                <li>
                  <h4>“Concurso de lectura y redaccion 2015”</h4> 
                  <h3>Guárico, San Juan de lós Morros.</h3>
                </li>
            
            </ul>
        </div> <hr>
            <div class="Redes">
               <h2 class="title2">Redes Sociales</h2>
               <ul>
                <li>
                    <span class="icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
                    <span class="text">Jesus Ziegler</span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                    <span class="text">_yisus_idk</span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
                    <span class="text">Yisus2299</span>
                </li>
          </div> <hr> 
          <div class="skill">
              <h2 class="title2">Skills</h2>
              <div class="box">
                  <h4>HTML</h4>
                  <div class="percent">
                      <div style="width: 70%;"></div>
                  </div>
              </div>
              <div class="box">
                <h4>CSS</h4>
                <div class="percent">
                    <div style="width: 65%;"></div>
                </div>
              </div>
              <div class="box">
                <h4>Javascript</h4>
                <div class="percent">
                    <div style="width: 72%;"></div>
                </div>
              </div>  <br>
          </div>
          <div class="aficiones">
            <h2 class="title2">aficiones</h2>
            <ul>
                <li><i class="fa fa-gamepad" aria-hidden="true"></i>Video Juegos</li>
                <li><i class="fa fa-music" aria-hidden="true"></i>Musica</li>
                <li><i class="fa fa-trophy" aria-hidden="true"></i>Kick Boxing</li>
            </ul>
</body>
<body class="body2">

        <div class="contact">
            <h1 class="logo">Contact <span>Us</span></h1>
            
            <form action="/" method="post">
               
                    <input type="text" name="Nombre" placeholder="Nombre" value= "<%=datos.name%>">
                    <input type="text" name="Email" placeholder="Email" value= "<%=datos.email%>">
                    <textarea name="Comentario"  rows="10" placeholder="Escribir mensaje" ></textarea> <%=datos.comentario%>
                     <button class="g-recaptha" data-sitekey="6LdsNSggAAAAAJDroJKLwZT9xeRPo2snaPEs-cK-" data-callback= 'onSumit' type>
            </form>
            
            
        </div> 
</body>
</html>