<!DOCTYPE html prefix="og: https://ogp.me/ns#" >
<html lang="en">
<head>
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />">
    <link rel="stylesheet" href="../css/c3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

    <script async src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LczC4AgAAAAAA_yMAgXOcVGhbYcBxMuWioObF2x"></script>
    

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GQYD3RPW6E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GQYD3RPW6E');
</script>

    <!-- Global site tag (gtag.js) - Google Analytics -->

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0KNNY356D7');
</script>




</head>
<body>
    <div class="contenedor">
        <div class="izquierdo" >
           
           <div class="perfil">
            <div class="img">
                 <img src ="img/profilepic.jpg"  alt="esta imagen no se puede procesar">
            </div>
            <h2>Jesus Ziegler</h2>
        </div>
        <div class="Datos">
            <h3 class="title">Datos Personales</h3>
            <ul>
                <li>
                    <b>Lugar de Nacimiento:</b>San Juan de los Morros 
                </li>
                <li>
                     <b>Direccion:</b>Sector Las Palmas. Via San Sebastian de los Reyes
                </li>
                <li>
                    <b>Calle:</b> 23
                </li>
                <li>
                    <b>Casa:</b>Nro. 53. Casa San Miguel<br>
                </li>
                <li>   
                    <b>C.I.</b>29.941.366</p>
                </li>
            </ul>
        </div><br>

        <div class="info">
            <h3 class="title">contacto</h3>
            <ul>
                <li>
                    <span class="icon"><i class="fa fa-whatsapp" aria-hidden="true"></i></span>
                    <span class="text">+58 412-244-6504</span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                    <span class="text">jmzm08@gmail.com</span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    <span class="text">San Juan de los Morros,Guarico,Venezuela</span>
                </li>
                
            </ul>
        </div>
        <div class="Educacion">
            <h3 class="title">Formacion Academica</h3>
            <ul>
                <li>
                  <h5>2015-2020 | San Juan de los Morros- Venezuela</h5> 
                  <h4>Bachillerato</h4>
                  <h4>U.E.C. "Dr.Jose Francisco Torrealba"</h4><br>
                </li>
                <li>
                    <h5> 2020-En Curso | San Juan de los Morros- Venezuela</h5> 
                    <h4>Ing. Informatica </h4>
                    <h4>U.N.E "Romulo Gallegos"</h4>
                  </li>
                
            </ul>
        </div>
    </div>
    <div class="derecho" >
        <div class="Eventos">
            <h2 class="title2">Eventos</h2>
            <ul>
                <li>
                  <h4>“Concurso de dibujo manga 2010”</h4> 
                  <h3>Guárico, San Juan de lós Morros.</h3>
                
                </li>
                <li>
                    <h4>“Olimpiadas de ajedrez 2012”.</h4> 
                    <h3>Guárico, San Juan de lós Morros.</h3>
                </li>
                <li>
                  <h4>“Concurso de artes y manualidades 2013”</h4> 
                  <h3>Guárico, San Juan de lós Morros.</h3>
                </li>
                <li>
                  <h4>“Concurso de lectura y redaccion 2015”</h4> 
                  <h3>Guárico, San Juan de lós Morros.</h3>
                </li>
            
            </ul>
        </div> <hr>
            <div class="Redes">
               <h2 class="title2">Redes Sociales</h2>
               <ul>
                <li>
                    <span class="icon"><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
                    <span class="text">Jesus Ziegler</span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></span>
                    <span class="text">_yisus_idk</span>
                </li>
                <li>
                    <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
                    <span class="text">Yisus2299</span>
                </li>
          </div> <hr> 
          <div class="skill">
              <h2 class="title2">Skills</h2>
              <div class="box">
                  <h4>HTML</h4>
                  <div class="percent">
                      <div style="width: 70%;"></div>
                  </div>
              </div>
              <div class="box">
                <h4>CSS</h4>
                <div class="percent">
                    <div style="width: 65%;"></div>
                </div>
              </div>
              <div class="box">
                <h4>Javascript</h4>
                <div class="percent">
                    <div style="width: 72%;"></div>
                </div>
              </div>  <br>
          </div>
          <div class="aficiones">
            <h2 class="title2">aficiones</h2>
            <ul>
                <li><i class="fa fa-gamepad" aria-hidden="true"></i>Video Juegos</li>
                <li><i class="fa fa-music" aria-hidden="true"></i>Musica</li>
                <li><i class="fa fa-trophy" aria-hidden="true"></i>Kick Boxing</li>
            </ul>
</body>
<body class="body2">

        <div class="contact">
            <h1 class="logo">Deja un Comentario</h1>
            
            <form action="/comentario" method="post" id="verifyForm">
                <ul>
                    <li>
                      <label for="name">Nombre:</label>
                      <input type="text" id="name" name="user_name">
                    </li>
                  
                   
                   
                   </ul>

                   <ul>
                    <li>
                        <label for="mail">Email:</label>
                        <input type="email" id="mail" name="user_mail">
                      </li>
                   </ul>
                   <ul>
                    <li>
                        <label for="msg">Comentario:</label>
                        <textarea id="msg" name="user_message"></textarea>
                      </li>
                   </ul>
                   <button type="submit">Enviar</button>
            </form>
            
            <a  style='color:red' href="/contactos">Comentarios</a>
        </div> 
</body>

<script>
    document.getElementById('verifyForm').addEventListener('submit',onSubmit);
    
    function onSubmit(e){
        e.preventDefault();
        
        grecaptcha.execute('6LczC4AgAAAAAA_yMAgXOcVGhbYcBxMuWioObF2x', {action: 'subscribe'}).then(function(token) {

        // This data is not being used in the back end (Only the token), but have it here for you to experiment
        const firstName = document.querySelector('#name').value;
        const mail = document.querySelector('#mail').value;
        const msg = document.querySelector('#msg').value;
        const captcha = token;
try {
    
    var settings = {
  "url": "/subscribe",
  "method": "POST",
  "timeout": 0,
  "data": {
 
    firstName:firstName,mail:mail,msg:msg,captcha:captcha

  }

};

$.ajax(settings).done(function (response) {
  console.log(response);
})
.then(res => res.json()).then(data => { alert("msg: " + data.msg + ", success?: " + data.success + ", score: " + data.score)});


            //.then(res => res.json()).then(data => { alert("msg: " + data.msg + ", success?: " + data.success + ", score: " + data.score)})     



} catch (error) {
    console.log(error)
}

        });
        
    }
</script>

</html>