<!DOCTYPE html>
<html lang="en">
<head>
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />">
    <link rel="stylesheet" href="stylesheets/estilos.css"> 
</head>
<body>
    <form action="/" metod="post" class="form-register">
      <h4>Formulario</h4>
      <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre" value="<%= tarea.nombres%>">
      <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" value="<%= tarea.correo%>">
      <textarea name="Comentario"  rows="10" placeholder="Escribir mensaje" ></textarea> <%=tarea.comentario%>
      <input type="submit" value="ENVIAR" id="boton">
    </form>
  
  </body>
</html>
