<!DOCTYPE html>
<html>
  <head>
    <title>Programacion II</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
       <h1>Hola mundo</h1>
       <li>Nombre: Jesús Ziegler</li>
       <br>
       <li>Cedula: 29.941.366</li>
       <br>
       <li>Sección: 1</li>
  </body>
</html>
