<!DOCTYPE html>
<html>
  <head>

    <meta property="og:title" content="Jesus Ziegler" />
<meta property="og:url" content="https://adaptacion.herokuapp.com/" />
<meta property="og:image" content="/img/profilepic.jpg" />
<meta property="og:image:secure_url" content="/img/profilepic.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />
<meta property="og:image:alt" content="Estudiante de la unerg" />


    <title>[object SVGSymbolElement]</title>
    <link rel="stylesheet" href="/stylesheets/style.css"><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"><!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  </body>
</html>